spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/evtol_db
    username: postgres
    password: christopher
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false

server:
  port: 8080

logging:
  level:
    root: INFO
    com.aptechph.task_management_system: DEBUG
